<div class="container">
    <header>
      <div class="container-fluid">
        <img srcset="/assets/img/ban.png 320w,
        /assets/img/ban.png 480w,
        /assets/img/ban.png 800w"
     sizes="(max-width: 320px) 280px,
            (max-width: 480px) 440px,
            800px"
     src="elva-fairy-800w.jpg" alt="Elva dressed as a fairy">
    </div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<a class="navbar-brand" href="\"><img src="/assets/img/logo.png" width="30%" height="50%" class="d-inline-block" alt="Logo UTH" srcset="">
</a>
<button
class="navbar-toggler"
type="button"
data-toggle="collapse"
data-target="#navbarColor01"
aria-controls="navbarColor01"
aria-expanded="false"
aria-label="Toggle navigation"
>
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarColor01">
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
  <a class="nav-link" routerLink="/product">Productos</a>
  
</li>
<li class="nav-item active">
  <a class="nav-link" routerLink="/info">Inicia Sesión</a>
  
</li>
<li class="nav-item active">
  <a class="nav-link" routerLink="/contact">Registrate</a>
  
</li>
</ul>
</div>
</nav>

    </header>
        