* {
    padding: 3;
    padding-bottom: 0;
  }
  
  header {
    background-color: azure;
  }
  
  nav {
    border-radius: 15px;
    ;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5.5rem;
    /* Height of the footer */
    background: #6cf;
    margin-top: -10px;
    padding-bottom: 10px;
    padding-right: 50px;
  }