<hr>
<h1 align=center>Registrate</h1>
<hr>
<div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="email">Correo Electrónico</label>
              <input type="email" class="form-control" placeholder="Ejemplo@outlook.com"/>
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input
                type="password"
                class="form-control"
                placeholder="******"
              />
            </div>
            <div class="form-group">
                <label for="password">Repite tu contraseña</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="******"
                />
              </div>

            <button class ="btn btn-primary btn-lg btn-block" [routerLink]="'/product'"> Iniciar Sesión</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  