<hr>
<h1 align=center>Productos</h1>
<hr>
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="/assets/img/product1.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>Consola Playstation 4</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                    </div>
                    <p class="text-justify text-truncate para mb-0">Sin detalles, perfectamente funcional.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">$30.99</h4><span class="strike-text">$20.99</span>
                    </div>
                    <h6 class="text-success">Envío gratis</h6>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Detalles</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Agregar al carrito</button></div>
                </div>
            </div>
			<div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="/assets/img/product4.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>Consola Xbox 360</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                    </div>
                    <p class="text-justify text-truncate para mb-0">Solo consola, sin detalles, perfectamente funcional.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">$13.99</h4><span class="strike-text">$10.99</span>
                    </div>
                    <h6 class="text-success">Envío gratis</h6>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Detalles</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Agregar al carrito</button></div>
                </div>
            </div>
			<div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="/assets/img/product2.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>Megapack Playstation 4</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                    </div>
                    <p class="text-justify text-truncate para mb-0">Incluye 3 juegos, 1 mando, sin detalles, perfectamente funcional.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">$50.99</h4><span class="strike-text">$49.99</span>
                    </div>
                    <h6 class="text-success">Envío gratis</h6>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Detalles</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Agregar al carrito</button></div>
                </div>
            </div>
			<div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="/assets/img/product3.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>Impresora Epson</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                    </div>
                    <p class="text-justify text-truncate para mb-0">Usada, pero funcional.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">$20.99</h4><span class="strike-text">$30.99</span>
                    </div>
                    <h6 class="text-success">Envío gratis</h6>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Detalles</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Agregar al carrito</button></div>
                </div>
            </div>
        </div>
    </div>
</div>